/* o root é como se fosse o main do java */
:root{
    /* o -- é para comecar a variavel */
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Righteous, sans-serif;
}

header{
    display: flex;
    align-items: center;
    gap: 16px;
}

header span{
    font-size: 32px;
    color: var(--secundary-color);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sombra{
    position: absolute;
    font-size: 28vw;
    color: #fafafa55;
    z-index: -99;
    top: 50%;
    left: 50%;
    /* o translete foi utilizado para mecher na posicao, por exemblo para conseguir deixar para cima ou baixo de forma mais rapida e eficiente */
    transform: translate(-50%, -85%);
}

h1{
    flex-grow: 1;
    font-size: 25vw;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 154px;
    padding-bottom: 75px;
    color: var(--secundary-color);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container h2{
    font-size: 64px;
}

.container p{
    font-size: 20px;
    width: 500px;
}

.container a{
    width: 411px;
    height: 100px;
    font-size: 48px;
    /* esse var é para que chame a variavel colocada no root */
    background-color: var(--secundary-color);
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pikachu{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    text-align: center;
    color: var(--secundary-color);
}

/* Tablet */

@media (max-width: 1024px){
    /* o @media (max-width; ) foi colocada para mudar quando foce um aparelho menor */
    footer{
        display: none;
    }

    .container{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 14px;
    }

    .sombra{
        transform: translate(-50%, -190%);

    }
    .descricao p {
        text-align: center;
    }

    h1{
        transform: translate(0, -35%);

    }

    .pikachu{
        transform: translate(-45%, -50%);
    }

    body{
        padding: 30px;
    }

}

/* Mobile */
@media (max-width: 480px){
    .container p{
        display: none;
    }

    .descricao{
        z-index: 10;
    }

    .sombra{
        transform: translate(-50%, -220%);
    }

    h1{
        transform: translate(0, -22%);
    }

    .descricao h2{
        font-size: 38px;
    }

    .container a{
        width: 100%;
    }
    /* o % aqui é para que a largura seja igual do pai ou mair */

    .pikachu{
        height: 50vh;
    }

    header{
        height: 10px;
    }
}